*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f5f5f5;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.card{
width:380px;
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 0 15px rgba(0,0,0,.08);
}

.voltar{
text-decoration:none;
color:#222;
font-size:20px;
}
.topo{
display:flex;
gap:10px;
align-items:center;
margin-top: 10px;
margin-left: 10px;
}
 
.icone{
width:70px;
height:60px;
background:#ffeaea;
border-radius:20px;
display:flex;
justify-content:center;
align-items:center;
color:#d90012;
font-size:35px;
}

.topo p{
margin-top:5px;
font-size:16px;
color:#555;
}

.contador{
text-align:right;
font-weight:bold;
margin-top:-20px;
}

.barra{
height:10px;
background:#e5e5e5;
border-radius:10px;
margin-top:20px;
overflow:hidden;
}

.progresso{
height:100%;
background:#d90012;
}
.progresso1{width:10%;}
.progresso2{width:25%;}
.progresso3{width:37%;}
.progresso4{width:50%;}
.progresso5{width:62%;}
.progresso6{width:75%;}
.progresso7{width:85%;}
.progresso8{width:100%;}

.imagem{
width:220px;
display:block;
margin:20px auto;
}

h1{
text-align:center;
font-size:34px;
line-height:1.2;
}

h1 span{
color:#d90012;
}

p{
text-align:center;
margin-top:15px;
color:#555;
font-size:18px;
}

.botoes{
display:flex;
gap:15px;
margin-top:30px;
}

.sim,.nao{
flex:1;
height:70px;
border:none;
border-radius:10px;
font-size:28px;
font-weight:bold;
cursor:pointer;
}

.sim{
background:#e8f7e8;
color:#198754;
}

.nao{
background:#fdeaea;
color:#d90012;
}

.info{
margin-top:25px;
background:#f2f4ff;
padding:15px;
border-radius:12px;
display:flex;
gap:10px;
align-items:center;
font-size:14px;
}

.info i{
color:#2962ff;
}