*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f5f5f5;
display:flex;
justify-content:center;
padding:20px;
}

.container{
width:400px;
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 0 15px rgba(0,0,0,0.08);
}

.topo{
display:flex;
gap:10px;
align-items:center;
margin-top: 25px;
margin-left: 10px;
}

.icone{
width:70px;
height:60px;
background:#ffeaea;
border-radius:20px;
display:flex;
justify-content:center;
align-items:center;
color:#d90012;
font-size:35px;
}

.topo p{
margin-top:5px;
font-size:16px;
color:#555;
}

.contador{
margin-left: 10px;
margin-top:15px;
font-weight:bold;
}

.progresso{
margin-left: 10px;
display:flex;
gap:8px;
margin-top:10px;

}

.bolinha{
width:10px;
height:10px;
border-radius:50%;
background:#ddd;

}

.ativa{
background:#d90012;
}

h1{
margin-top:40px;
text-align:center;
font-size:32px;
}

.imagem{
font-size:120px;
text-align:center;
margin-top:30px;
}

.botoes{
display:flex;
gap:15px;
margin-top:30px;
}

.sim,
.nao{
flex:1;
height:55px;
border:none;
border-radius:10px;
color:white;
font-size:20px;
font-weight:bold;
cursor:pointer;
}

.sim{
background:#1fa739;
}

.nao{
background:#d90012;
}

.aviso{

    margin-top:30px;
    background:#eef5ff;
    border:1px solid #b7d3ff;
    padding:15px;
    border-radius:12px;
    display:flex;
    gap:10px;
    align-items:center;
    font-size:12px;
}
.aviso i{

    color:#0d6efd;

    font-size:20px;
}